.login {
	background-color: #667aff;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.login-container {
	padding: 50px;
	text-align: center;
	border-radius: 5px;
	background-color: #7386ff;
}

.login-text {
	color: white;
	font-size: 44px;
	font-weight: 700;
}

.login-btn {
	background: #e6e9ff;
	color: #667aff;
	margin-top: 10px;
	padding: 5px 15px;
	border: 0;
	font-size: 17px;
}

.login-btn:hover {
	cursor: pointer;
}
